<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Home</title>
  </head>
  <body>
    <h1>this is one Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non id, tenetur
      deserunt perspiciatis, repellendus nostrum earum neque dolorum accusamus
      saepe tempora magni, ipsa fuga delectus minima est magnam laboriosam.
      Ratione? Eum dolores aperiam quibusdam? Explicabo quas molestias vero enim
      laboriosam accusamus iste saepe consequuntur amet eveniet veritatis error
      ratione temporibus voluptatum nemo qui, nisi itaque sunt. Tempore tenetur
      dolore nulla. Quaerat quas eveniet eaque nihil quod, iusto odit provident
      vitae voluptas, molestiae blanditiis eligendi dolores. Alias accusantium
      eos porro vitae, quis esse! Doloribus odit doloremque consequuntur atque
      asperiores, veritatis fugit. Eligendi, sint quaerat nam eos ratione non
      esse, totam, obcaecati fugit inventore quis adipisci ullam. Porro cumque
      hic quam explicabo, delectus quae voluptas odio deserunt veritatis
      adipisci velit quod saepe!
    </p>
    <button>Click Me</button>
    <h3><%= 4.30+4 %></h3>
  </body>
</html>
