<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editing <%=user.username %>  Data</h1>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        <textarea name="username" id="username"><%=user.username %></textarea>
        <input type="password" name="password" placeholder="enter New Password">
        <button>eidit</button>
    </form>
</body>
</html>